body {
  background-color: black;
  color: white;
  font-family: "Press Start 2P", cursive;
  text-align: center;
  cursor: pointer;
}
h1 {
  font-size: 48px;
}
.arcade-machine {
  width: 400px;
  height: 600px;
  margin: auto;
  background-image: url("arcade-machine.jpg");
  background-size: cover;
  position: relative;
}
.screen {
  width: 300px;
  height: 200px;
  background-color: black;
  position: absolute;
  top: 140px;
  left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.game {
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  margin: 10px 0;
  padding: 0 20px;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.game:not(:first-child)::before {
  content: "⮞";
  font-size: 24px;
  position: absolute;
  left: -30px;
  top: 0;
}
.game:first-child:before {
  content: "⮞";
  font-size: 24px;
  position: absolute;
  left: -30px;
  top: 0;
}

.game:hover {
  animation: blink 1s infinite;
}
.active {
  animation: blink 1s infinite;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.img-container {
  max-width: 30%;
  position: absolute;
  top: 20%;
  right: 2%;
  border: none;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: none;
  border-radius: 10px;
}

.text-container {
  max-width: 20%;
  position: absolute;
  top: 20%;
  left: 2%;
  text-align: left;
}

.text-container h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.text-container p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}




.game.active::before {
  content: "⮞";
}
.game.active:first-child::before {
  content: "⮞";
}
.game:not(.active)::before {
  content: "";
}

.game h2::after {
  content: "";
  display: block;
  border-bottom: 3px solid #ffc107;
  margin-top: -0.3em;
}

