body {
  background-position: 50% 30%;
  background-color: #fff;
  font-family: "Press Start 2P", cursive;
  text-align: center;
  background: black;
  height: 100vh;
  overflow: hidden;
}

header {
  background-color: transparent;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}
nav {
  display: flex;
  justify-content: space-between;
}
nav h1 {
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-weight: 600;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-top: 2.2%;
}
nav li {
  margin-left: 20px;
}
nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s ease;
  animation: Slidein 1.5s ease-in 0s 1 normal none;
  font-size: 17.5px;
}

.btn:hover {
  animation: blink 1s infinite;
  box-shadow: none;
  color: yellow;
}


.btn {
  color: white;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn:not(:first-child)::before {
  content: "⮞";
  position: relative;
  left: -2%;
  top: 0;
}

.btn:hover:first-child::before {
  content: "⮞";
  position: relative;
  left: -2%;
  top: 0;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#start-button:hover {
  animation: blink 1s infinite;
  box-shadow: none;
  color: yellow;
}

  #start-button {
    border-radius: 20px;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  #countdown {
    font-size: 48px;
  }
  

  .darkmode {
      background-color: white;
      color: white;
    background-position: 50%;
  }
  .darkmode nav {
    background-color: transparent;
    color: white;
  }
  .darkmode header {
    background-color: transparent;
  }
  
  .darkmode header nav ul li a{
    color: white;
    background-color: #808080;
  }
  
  .darkmode button {
    background-color: #808080;
  }
  .darkmode .btn {
    background-color: transparent;
    color: rgb(255, 255, 255);
  }
  
  .darkmode .card:hover {
    box-shadow: 0 4px 4px rgba(225,225,225,.5);
    top: -5px;
    transition: all 0.5s ease;
  }
  
  .darkmode .minigame {
    background-color: #000000;
  }
  
  .darkmode h2 {
    color: black;
    background-color: #008EE9;
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }

  .darkmode #player1 {
    background-color: yellow;
  }
  .darkmode #player2 {
    background-color: black;
  }

  .darkmode #start-button {
    background-color: white;
    color: black;
  }
  
  button:hover {
    box-shadow: 0 5px 5px rgba(0,0,0,.5);
  }
  
  
  button {
    border: none;
    animation: fadeIn 4s;
    font-family: "Press Start 2P", cursive;
  }
  
  section {
    padding-top: 70px;
    text-align: center;
  }
  h2 {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 40px;
    background-color: #5B00FF;
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }

  
  .minigame {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff0000;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    animation: fadeIn 2s;
  }

  
  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  #a{
   position: absolute;
    font-size: 500%;
    top: 50%;
    left: 10%;
  }

  #l{
    position: absolute;
     font-size: 500%;
     top: 50%;
     right: 10%;
   }
 

  .scale{
    animation: scale 1s;
  }
  
  @keyframes scale{
    0% {transform: scale(1);}
    50%{transform: scale(10);}
    100%{transform: scale(1);}
  }